<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Education - Nikhil Racherla</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Education</h1>
    <p><strong>Master of Science (Computer Engineering)</strong><br>
    Virginia Tech (08/2023 - 12/2024, Virginia, USA)<br>
    Graduate Teaching Assistant, Tutor<br>
    Focus: Cybersecurity and Machine Learning<br>
    Courses: Fundamentals of Info Security, Network Security, IT Security and Trust</p>

    <p><strong>Bachelor of Technology (Computer & Communication Engineering)</strong><br>
    Manipal Institute of Technology (08/2019 - 06/2023, Karnataka, India)<br>
    Minor: Digital Marketing<br>
    College Swim Team</p>

    <a href="/">← Back to Home</a>
  </div>
</body>
</html>
